<?xml version="1.0" encoding="utf-8"?>
<robot
  name="gripper2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0085692 -0.0033104 -7.8044E-05"
        rpy="0 0 0" />
      <mass
        value="0.11906" />
      <inertia
        ixx="5.4401E-05"
        ixy="-3.727E-07"
        ixz="-2.0098E-07"
        iyy="2.8843E-05"
        iyz="-6.0295E-07"
        izz="3.7188E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_link">
    <inertial>
      <origin
        xyz="-0.059051 -0.0021953 0.020051"
        rpy="0 0 0" />
      <mass
        value="0.026471" />
      <inertia
        ixx="1.3813E-06"
        ixy="-1.211E-11"
        ixz="1.2469E-06"
        iyy="7.2157E-06"
        iyz="-9.8817E-12"
        izz="7.1751E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint"
    type="revolute">
    <origin
      xyz="-0.0135 0 0.01"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3"
      upper="3"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="right_link">
    <inertial>
      <origin
        xyz="-0.060951 -0.0033206 -0.004856"
        rpy="0 0 0" />
      <mass
        value="0.027594" />
      <inertia
        ixx="1.2215E-06"
        ixy="5.8021E-12"
        ixz="1.3138E-07"
        iyy="9.4165E-06"
        iyz="-7.6154E-12"
        izz="9.537E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint"
    type="revolute">
    <origin
      xyz="-0.0135 0 -0.014"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3"
      upper="3"
      effort="1"
      velocity="1" />
  </joint>
</robot>
