menuconfig MODULES_PREGME_ATT_CONTROL
	bool "pregme_att_control"
	default n
	---help---
		Enable the custom multicopter attitude/direct actuator control module.

menuconfig USER_PREGME_ATT_CONTROL
	bool "pregme_att_control running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_PREGME_ATT_CONTROL
	---help---
		Run pregme_att_control in userspace memory on protected builds.
