menuconfig MODULES_USR_POS_CONTROL
	bool "usr_pos_control"
	default n
	---help---
		Enable support for usr_pos_control

menuconfig USER_USR_POS_CONTROL
	bool "usr_pos_control running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_USR_POS_CONTROL
	---help---
		Put usr_pos_control in userspace memory
