menuconfig MODULES_PREGME_ATT_CONTROL_V1
	bool "pregme_att_control_v1"
	default n
	---help---
		Enable the custom multicopter attitude/direct actuator control module.

menuconfig USER_PREGME_ATT_CONTROL_V1
	bool "pregme_att_control_v1 running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_PREGME_ATT_CONTROL_V1
	---help---
		Run pregme_att_control_v1 in userspace memory on protected builds.
