menuconfig MODULES_PREGME_POS_CONTROL_V1
	bool "pregme_pos_control_v1"
	default n
	---help---
		Enable the custom multicopter position control module.

menuconfig USER_PREGME_POS_CONTROL_V1
	bool "pregme_pos_control_v1 running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_PREGME_POS_CONTROL_V1
	---help---
		Run pregme_pos_control_v1 in userspace memory on protected builds.
