<?xml version='1.0' encoding='utf-8'?>
<robot name="swan_uav_v2">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0035513 0.0013 -0.050331" rpy="0 0 0" />
      <mass value="8.057" />
      <inertia ixx="0.078395" ixy="0" ixz="0" iyy="0.422973" iyz="0" izz="0.493568" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://swan_uav_v2/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://swan_uav_v2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="rot1_Link">
    <inertial>
      <origin xyz="0.0052133 0.00055592 -0.044441" rpy="0 0 0" />
      <mass value="0.471" />
      <inertia ixx="2.787E-04" ixy="0" ixz="0" iyy="1.872E-04" iyz="0" izz="1.874E-04" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://swan_uav_v2/meshes/rot1_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://swan_uav_v2/meshes/rot1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rot1_Joint" type="continuous">
    <origin xyz="0.29254 -0.40851 -0.058329" rpy="0 0 -0.034907" />
    <parent link="base_link" />
    <child link="rot1_Link" />
    <axis xyz="0 0 -1" />
  </joint>
  <link name="rot2_Link">
    <inertial>
      <origin xyz="-0.00055256 -0.00036989 -0.04471" rpy="0 0 0" />
      <mass value="0.471" />
      <inertia ixx="2.787E-04" ixy="0" ixz="0" iyy="1.872E-04" iyz="0" izz="1.874E-04" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://swan_uav_v2/meshes/rot2_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://swan_uav_v2/meshes/rot2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rot2_Joint" type="continuous">
    <origin xyz="-0.27747 0.4055 -0.058247" rpy="0.038594 0.0021601 1.48" />
    <parent link="base_link" />
    <child link="rot2_Link" />
    <axis xyz="0 0 -1" />
  </joint>
  <link name="rot3_Link">
    <inertial>
      <origin xyz="0.00023425 -3.3312E-06 -0.04471" rpy="0 0 0" />
      <mass value="0.471" />
      <inertia ixx="2.787E-04" ixy="0" ixz="0" iyy="1.872E-04" iyz="0" izz="1.874E-04" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://swan_uav_v2/meshes/rot3_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://swan_uav_v2/meshes/rot3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rot3_Joint" type="continuous">
    <origin xyz="0.32013 0.38551 -0.058348" rpy="0.13586 -0.002121 -1.5902" />
    <parent link="base_link" />
    <child link="rot3_Link" />
    <axis xyz="0 0 -1" />
  </joint>
  <link name="rot4_Link">
    <inertial>
      <origin xyz="0.00037994 3.5059E-05 -0.045023" rpy="0 0 0" />
      <mass value="0.471" />
      <inertia ixx="2.787E-04" ixy="0" ixz="0" iyy="1.872E-04" iyz="0" izz="1.874E-04" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://swan_uav_v2/meshes/rot4_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://swan_uav_v2/meshes/rot4_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rot4_Joint" type="continuous">
    <origin xyz="-0.30506 -0.38852 -0.058253" rpy="0.050542 0.0021537 1.4933" />
    <parent link="base_link" />
    <child link="rot4_Link" />
    <axis xyz="0 0 -1" />
  </joint>
</robot>
