menuconfig MODULES_USR_ATT_CONTROL
	bool "usr_att_control"
	default n
	---help---
		Enable support for usr_att_control

menuconfig USER_USR_ATT_CONTROL
	bool "usr_att_control running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_USR_ATT_CONTROL
	---help---
		Put usr_att_control in userspace memory
