menuconfig MODULES_PREGME_POS_CONTROL
	bool "pregme_pos_control"
	default n
	---help---
		Enable support for pregme_pos_control

menuconfig USER_PREGME_POS_CONTROL
	bool "pregme_pos_control running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_PREGME_POS_CONTROL
	---help---
		Put pregme_pos_control in userspace memory
