menuconfig MODULES_PREGME_POS_CONTROL_V2
	bool "pregme_pos_control_v2"
	default n
	---help---
		Enable support for pregme_pos_control_v2

menuconfig USER_PREGME_POS_CONTROL_V2
	bool "pregme_pos_control_v2 running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_PREGME_POS_CONTROL_V2
	---help---
		Put pregme_pos_control_v2 in userspace memory
